# Secrets
.env

# Logs
logs/*.log

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Tools / OS
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
